# ------------------------------------
# 临时文件和Python编译文件
# ------------------------------------
# 忽略Python字节码文件
__pycache__/
*.pyc

# 忽略IDE和编辑器生成的文件 (如果你使用VS Code)
.vscode/

# ------------------------------------
# 模型和权重文件
# ------------------------------------
# 忽略所有.pth或.pt模型权重文件，它们通常很大
*.pth
*.pt
*.npy
# 忽略你截图中的特定文件
best_model_GDNSM.pth
torch_scatter-2.0.9-cp37-cp37m-linux_x86_64.whl
torch_scatter-2.1.2+pt21cu118-cp310-cp310-linux_x86_64.whl

# ------------------------------------
# 日志和TensorBoard相关文件
# ------------------------------------
# 忽略所有名为 "log" 的文件夹，无论它在哪里
# 这样可以忽略 GDNSM/log、最外层的 log 等
log/

# 忽略 TensorBoard 日志文件夹
runs/
tensorboard_logs/

# ------------------------------------
# 数据文件
# ------------------------------------
# 假设你的原始数据集放在名为 'data' 的文件夹里
dataset/